.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
}
body{
    margin: 0%;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.logo{
    width: 46%;
    padding: 22px;
    float: left;
}
.login{
    width: 50%;
    float: right;
    padding-top: 9px;
}
.logo-text{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;

    margin-left: 150px;
}
.login-controls{
    margin-left: 115px;
}
.login-label{
    color: white;

}
.forgotten{
    color: #9cb4d8;
    font-size: 11px;
    text-decoration: none;
}
.sub-btn{
    background-color: #4267b2;
    color: white;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}
.sub-btn:hover{
    background: darkblue;
}
.left-section{
    width: 35%;
    float: left;
    padding-left: 182px;
    padding-top: 69px;

}
.right-section{
    width: 30%;
    float: left;
    padding-left: 10%;
    padding-top: 10px;
    margin: 10px;
}
.main-body{
    background: linear-gradient(white,#d3d8e8);
    width: 100%;
    height: 600px;
}